{
  "env": {
    "browser": true,
    "es6": true,
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "globals": {
    "graphql": false,
  },
  "extends": [
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
    },
  }
}
